---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<button id="button">Hello</button>
		<pre id="result"></pre>
	</main>
</Layout>

<script>
	document.querySelector('#button').addEventListener('click', async () => {
		try {
			const response = await fetch('/api/test');
			document.getElementById('result').innerText = await response.text();
		} catch (error) {
			console.error('An error occurred:', error);
			document.getElementById('result').innerText = 'An error occurred while fetching data.';
		}
	})
</script>
